@model Recommendation
@{
    ViewData["Title"] = "Add Review";
}

<!-- ======= Contact Me Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <span>Leave a Review</span>
            <h2>Leave a Review</h2>
            <p>Please leave a review below.</p>
        </div>
        
            <div class="row">

                @using (var form = Html.BeginForm("Add", "Recomendations", FormMethod.Post, new { @class = "email-form" }))
                {
                    <div class="form-row">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            @Html.TextBoxFor(m => m.Author, new { @class = "form-control", name = "name", id = "name", placeholder = "Your Name" })

                            @Html.ValidationMessageFor(m => m.Author)
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.TextBoxFor(m => m.Email, new { name = "email", @class = "form-control", id = "email", placeholder = "Your Email" })

                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.TextBoxFor(m => m.Age, new { name = "Age", @class = "form-control", id = "Age", placeholder = "Your Age" })

                            @Html.ValidationMessageFor(m => m.Age)
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.TextBoxFor(m => m.Id, new { name = "Id", @class = "form-control", id = "Id", placeholder = "Create a Custom Id" })

                            @Html.ValidationMessageFor(m => m.Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control", placeholder = "Leave your review here" })

                        @Html.ValidationMessageFor(m => m.Text)
                    </div>



                    <div class="text-center"><button type="submit">Submit Review</button></div>

                }
            </div>
            
      
 

    </div>
</section><!-- End Contact Me Section -->
